.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-image: url('assets/background.png');
}

.menuIcon{
  height: 5em;
  margin-left: 5em;
}

.menuTitle{
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1f2d40;
}

.App-link {
  color: #61dafb;
}


.content{
  float: right;
  display: block;
  padding:5rem;
}


@media screen and (min-width: 920px) {
  #sidebar_menu{
    display: block;
  }
  #sidebar_menu_mobile{
    display: none;
  }
  #sidebar_show_mobile{
    display: none;
  }
  .content{
    width: 80%;
  }
}

.appBody{
  width:100%;
  background-color: #1f2d40;
  height:100rem;
}

.sidebar{
  width:25%;
  float: left;
  border-left:  solid 1px;
  display: none;
  background-color: #1f2d40;
}

@media screen and (max-width: 920px) {
  #sidebar_menu{
    display: none;
  }
  #sidebar_menu_mobile{
    display: block;
  }
  #sidebar_show_mobile{
    display: block;
  }
  .content{
    width: 100%;
  }
 
}

#sidebar_show_mobile{
  z-index:99
}

.headerBar{
  display: block;
  width: 100%;
  height:5rem;
  padding: 1rem;
  background-color: #1f2d40;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
